APP_NAME=SIGO
APP_ENV=local
APP_KEY=base64:dvK6X2uLTic44tuESYkPk1d+FmIWw9IelaalpM5kpmE=
APP_DEBUG=true
APP_URL=http://localhost/SIGO/public

# DB_CONNECTION=sqlsrv
# DB_HOST=localhost
# ##DB_HOST=sigo.database.windows.net
# DB_PORT=1433
# DB_DATABASE=BD_SIGO
# ##DB_DATABASE=sigo
# DB_USERNAME=SigoWebAppUser
# DB_PASSWORD=UsuarioSigo159


DB_CONNECTION=sqlsrv
DB_HOST=bdsigoprod.ca7cms0eernu.us-east-1.rds.amazonaws.com
DB_PORT=1433
DB_DATABASE=BD_SIGO
DB_USERNAME=admin
DB_PASSWORD=vv8StWVd9Rx8JVc?

SESSION_DRIVER=file
QUEUE_CONNECTION=sync
CACHE_STORE=file

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=injuvesigo@gmail.com
MAIL_PASSWORD=gtauyljsmpqypeed
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="injuvesigo@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Ngrok configuration for external access
NGROK_URL=https://marbles-abstain-overlap.ngrok-free.dev
VITE_API_URL=https://marbles-abstain-overlap.ngrok-free.dev

#captcha
RECAPTCHA_SITE_KEY=6LcQgocsAAAAAMDK6I_drCRMjWwgYCf6xNOA7FXb
RECAPTCHA_SECRET_KEY=6LcQgocsAAAAAM0fO8QNdmFU8DRGbAAvdNiqIYzS

#Google OAuth
GOOGLE_CLIENT_ID=523344188732-pglcoe6qpgl5a6df8n0itfa4gbh028oa.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/SIGO/public/auth/google/callback