# 1. Configuración de Nginx para evitar el error 404 en las rutas de Laravel
files:
  "/etc/nginx/conf.d/elasticbeanstalk/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location / {
          try_files $uri $uri/ /index.php?$query_string;
      }

# 2. Instalación de drivers y memoria Swap para SQL Server
commands:
  01_setup_swap:
    command: |
      if [ ! -f /var/swapfile ]; then
        dd if=/dev/zero of=/var/swapfile bs=1M count=1024
        chmod 600 /var/swapfile
        mkswap /var/swapfile
        swapon /var/swapfile
      fi
  02_install_mssql_repo:
    command: "curl https://packages.microsoft.com/config/rhel/9/prod.repo > /etc/yum.repos.d/mssql-release.repo"
  03_install_dependencies:
    # Instalamos las herramientas de desarrollo de la versión actual de PHP
    command: "ACCEPT_EULA=Y dnf install -y msodbcsql18 unixODBC-devel php-devel php-pear gcc-c++ make"
  04_install_drivers:
    # El comando 'printf' presiona Enter automáticamente
    command: |
      pecl channel-update pecl.php.net
      printf "\n" | pecl install -f sqlsrv-5.12.0 || true
      printf "\n" | pecl install -f pdo_sqlsrv-5.12.0 || true
  05_enable_drivers:
    command: |
      echo "extension=sqlsrv.so" > /etc/php.d/30-sqlsrv.ini
      echo "extension=pdo_sqlsrv.so" > /etc/php.d/30-pdo_sqlsrv.ini