commands:
  01_setup_swap:
    # Crea memoria virtual para que la compilación no se detenga por falta de RAM
    command: |
      if [ ! -f /var/swapfile ]; then
        dd if=/dev/zero of=/var/swapfile bs=1M count=1024
        chmod 600 /var/swapfile
        mkswap /var/swapfile
        swapon /var/swapfile
      fi
  02_install_dependencies:
    # Instala el repo de Microsoft y las herramientas de compilación de PHP
    command: |
      curl https://packages.microsoft.com/config/rhel/9/prod.repo > /etc/yum.repos.d/mssql-release.repo
      ACCEPT_EULA=Y yum install -y msodbcsql18 unixODBC-devel php-devel php-pear gcc-c++ make
  03_install_drivers:
    # Instalamos las extensiones. El "|| true" evita que el despliegue falle si ya existen.
    command: |
      pecl channel-update pecl.php.net
      printf "\n" | pecl install -f sqlsrv-5.12.0 || true
      printf "\n" | pecl install -f pdo_sqlsrv-5.12.0 || true
  04_enable_drivers:
    # Creamos los archivos .ini para que PHP cargue los drivers al iniciar
    command: |
      echo "extension=sqlsrv.so" > /etc/php.d/30-sqlsrv.ini
      echo "extension=pdo_sqlsrv.so" > /etc/php.d/30-pdo_sqlsrv.ini