commands:
  01_complete_setup:
    command: |
      # 1. Crear memoria Swap para que no se muera la compilación
      if [ ! -f /var/swapfile ]; then
        dd if=/dev/zero of=/var/swapfile bs=1M count=1024
        chmod 600 /var/swapfile
        mkswap /var/swapfile
        swapon /var/swapfile
      fi

      # 2. Agregar Repo de Microsoft y actualizar
      curl https://packages.microsoft.com/config/rhel/9/prod.repo > /etc/yum.repos.d/mssql-release.repo
      
      # 3. Instalar dependencias necesarias (Incluyendo herramientas de compilación)
      ACCEPT_EULA=Y yum install -y msodbcsql18 unixODBC-devel php-devel php-pear gcc-c++ make

      # 4. Actualizar canal de PECL e instalar drivers
      # Usamos '|| true' para que si ya están instalados, no rompa el despliegue
      pecl channel-update pecl.php.net
      printf "\n" | pecl install -f sqlsrv-5.12.0 || true
      printf "\n" | pecl install -f pdo_sqlsrv-5.12.0 || true

      # 5. Habilitar extensiones en PHP
      echo "extension=sqlsrv.so" > /etc/php.d/30-sqlsrv.ini
      echo "extension=pdo_sqlsrv.so" > /etc/php.d/30-pdo_sqlsrv.ini