commands:
  01_install_mssql_repo:
    command: "curl https://packages.microsoft.com/config/rhel/9/prod.repo > /etc/yum.repos.d/mssql-release.repo"
  02_install_odbc:
    command: "ACCEPT_EULA=Y yum install -y msodbcsql18 unixODBC-devel"
  03_install_build_tools:
    command: "yum install -y php-devel php-pear gcc-c++ make"
  04_install_sqlsrv:
    # El printf "\n" simula presionar Enter cuando pecl pregunta por las rutas
    command: 'printf "\n" | pecl install -f sqlsrv-5.12.0'
  05_install_pdosqlsrv:
    command: 'printf "\n" | pecl install -f pdo_sqlsrv-5.12.0'
  06_enable_extensions:
    command: |
      echo "extension=sqlsrv.so" > /etc/php.d/30-sqlsrv.ini
      echo "extension=pdo_sqlsrv.so" > /etc/php.d/30-pdo_sqlsrv.ini