commands:
  01_install_odbc:
    command: |
      sudo su
      curl https://packages.microsoft.com/config/rhel/9/prod.repo > /etc/yum.repos.d/mssql-release.repo
      ACCEPT_EULA=Y yum install -y msodbcsql18 unixODBC-devel php-devel gcc-c++ make
  02_install_sqlsrv_ext:
    command: |
      sudo pecl install sqlsrv-5.12.0
      sudo pecl install pdo_sqlsrv-5.12.0
  03_enable_extensions:
    command: |
      echo "extension=sqlsrv.so" > /etc/php.d/30-sqlsrv.ini
      echo "extension=pdo_sqlsrv.so" > /etc/php.d/30-pdo_sqlsrv.ini